// 見出し要素に関する変数群

$h1-font-size: ($font-size-base * 2.5) !default;
$h2-font-size: ($font-size-base * 2) !default;
$h3-font-size: ($font-size-base * 1.75) !default;
$h4-font-size: ($font-size-base * 1.5) !default;
$h5-font-size: ($font-size-base * 1.25) !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;