<!doctype html>
<html lang="ja">
<head>
  <title>Document</title>
  <%- include('./_components/_meta'); %>
</head>
<body class="p-index">
<div class="l-site-container">
  <%- include('./_components/_header'); %>
  <div class="l-wide-container">
    <button id="button-a">ボタンA</button>
    <input value="0" name="a-counter" id="button-a-counter">
    <button id="button-b">ボタンB</button>
    <input value="0" name="b-counter" id="button-b-counter">
  </div>
  <%- include('./_components/_footer'); %>
</div>

<%- include('./_components/_scripts'); %>
</body>
</html>